.hero {
    
}

.flex-container {
    display: flex;
    position: relative;
}

.left-child {
    flex: 1;
}

.hero-content {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-60%);
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.flavor {
    font-size: 1.5rem;
    margin: 0;
    width: 28rem;
}


@media only screen and (min-width: 992px) {
    .body {
        background:none;
    }
    /* Introduction Section */
    .hero {
        background-image: url("../../public/images/layer1.svg"),
                        url("../../public/images/layer2.svg"),
                        url("../../public/images/layer3.svg");
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: auto auto auto; 
        text-align: left;
        height: calc(100vh - 60px);
        padding: 0 5%;
    }
}